@font-face {
    font-family: 'Formula1-Regular';
    src: url("/public/Formula1-Regular.otf") format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Formula1-Bold';
    src: url("/public/Formula1-Bold.otf") format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Formula1-Wide';
    src: url("/public/Formula1-Wide.otf") format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'KiaSignatureBold';
    src: url("/public/KiaSignatureOTFBold.otf") format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'KiaSignatureRegular';
    src: url("/public/KiaSignatureOTFRegular.otf") format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'KiaSignatureLight';
    src: url("/public/KiaSignatureOTFLight.otf") format('opentype');
    font-weight: normal;
}

#home {
    background-color: #05141f;
    height: auto;
}

#header {
    background-color: #ffffff;
    padding: 0px;
    display: flex; /* Enable flexbox */
    justify-content: space-between; /* Push elements to opposite sides */
    align-items: center; /* Align items vertically */
    height: 60px;;
    font-family: 'Formula1-Regular', sans-serif;
}

#intro {
    color: #05141f
}

.KIAphoto {
    width: 10%;
    height: 100%;
    display: inline;
}

#header h1 {
    display: inline-block;
}

#header h2 {
    display: inline-block;
    margin-left: 5px; /* Add space between h1 and h2 */
}

#header .h2-group {
    display: flex;
    margin-left: auto; /* Push all h2 elements to the right */
    gap: 5px;
}

h1 {
    font-family: 'Formula1-Bold', sans-serif;
}

p {
    font-family: 'KiaSignatureRegular', sans-serif;
    font-size: 14px;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
}

.card-group h5 {
    color: #05141f;
}

.card-group p {
    color: #05141f;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;  
}
.card-body {
    padding-left: 0;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 4px;
    height: auto;
}

.card-title {
    display: inline-flex;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'Formula1-Bold', sans-serif;
}

.card-text {
    display: inline-flex;
    font-size: 14px;
}

.card a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
    font-family: 'Formula1-Regular', sans-serif;
  }
  
.card a:focus {
    outline: 1px dotted #28666e;
  }
  
.card a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }

.footer {
    background-color: #05141f;
    padding: 10px;
    text-align: center;
    font-family: 'Formula1-Regular', sans-serif;
    font-size: 14px;
}

.footer p {
    color: #ffffff
}

.footer h2 {
    color: #ffffff;
    font-family: 'Formula1-Regular', sans-serif;
    font-size: 20px;
}

.boxes {
    padding-top: 20px;
}

#home-content {
    background-image: url("/public/plantakia.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 20px;
}