.slideshow-background {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .each-slide-bg {
    height: 100vh;
    width: 100%;
  }
  
  .slide-bg {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  
  .overlay-content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    z-index: 2;
    text-align: center;
  }
  